@page
@model Project_Calories.Pages.MealItems.IndexModel

@{
    ViewData["Title"] = "Meal Item ";
}

<style>
    .container {
        margin-top: 20px;
    }

    h1 {
        color: #4CAF50; /* Verde inchis */
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #4CAF50;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: black; /* Verde inchis */
        color: #4CAF50;
    }

    a {
        text-decoration: none;
        color: #007bff; /* Albastru deschis */
    }

        a:hover {
            text-decoration: underline;
        }
</style>

<div class="container">
    <h1>Meal Item</h1>

    <p>
        <a asp-page="Create" class="btn btn-success">
            <i class="fa fa-plus"></i> Create New
        </a>
    </p>

<table class="table">
    <thead>
        <tr>
                <th><a asp-page="./Index" asp-route-sortOrder="@Model.FoodSort">Food</a></th>
                <th><a asp-page="./Index" asp-route-sortOrder="@Model.MealSort">Meal</a></th>
                <th>Quantity</th>
                <th><a asp-page="./Index" asp-route-sortOrder="@Model.DateSort">Date</a>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MealItem) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Meal.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Food.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
            <td>
                    <a asp-page="./Edit" class="btn btn-primary" asp-route-id="@item.MealItemId">Edit</a>
                    <!---<a asp-page="./Details" class="btn btn-primary" asp-route-id="@item.MealItemId">Details</a> -->
                    <a asp-page="./Delete" class="btn btn-danger" asp-route-id="@item.MealItemId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
