@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<style>
    /* Add the CSS styles directly in the <style> tag */
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f2f2f2; /* Light gray background */
        color: #333; /* Dark text color */
    }
    
    h1, h2 {
        color: #4CAF50; /* Dominant green color for headers */
    }
</style>

<h1>Welcome to Your Calorie Tracker!</h1>

<p>Hello, @User.Identity.Name!</p>

<p>Total Calories Consumed Today: @Model.TotalCaloriesConsumed</p>
<p>Calories Goal: @Model.CaloriesGoal</p>

<h2>Calories per Meal:</h2>
<ul>
        @if (Model.CaloriesPerMeal != null)
        {
            @foreach (var kvp in Model.CaloriesPerMeal)
            {
            <li>@kvp.Key: @kvp.Value</li>
            }
        }
        else
        {
        <li>No data available</li>
        }
</ul>

